body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.head #logo
{
    float: left;
    width: 130px;
    height: 120px;
    mix-blend-mode: multiply;
    
}
.head{
    background-image: url(../media/bg2.jpg);
    height: 100vh;
    overflow: hidden;
    width: cover;
}
.head a
{
    float: right;
    padding: 16px;
    margin-top: 18px;
    margin-right: 20px;
    overflow: hidden;
    text-decoration: none;
    color: royalblue;
}
a:hover
{
    background-color: black;
    color: white;
   
}

.body{
    position: relative;
    bottom: 75vh;
    right:2%;
}
.body #book
{
    width: 450px;
    height: 380px;
    mix-blend-mode: multiply;
}


.body pre{
    position: relative;
    bottom: 45vh;
    left: 70%;
    font-family: serif;
    line-height: 1.2;
    letter-spacing:1px;
    font-style: italic;
    font-size: larger;
    color:cornflowerblue;
    text-shadow: 2px 2px 10px cadetblue;
}
.dishes
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 22% 22% 22% 18% 15%;
    position: relative;
    bottom: 40vh;
    margin-left: 5%;
    line-height: 1.5;
}
.wrap img
{
    width: 200px;
    height: 100px;
    display: block;
}
.wrap .di
{
    margin-left: 22%;
    color: chocolate;
    text-decoration: none;
    transform: scale(1.0);
}
.di:hover
{
    background-color: teal;
    color: black;
    transform: scale(1.5);
}
.wrap
{
    display: inline;
}
#aboutus
{
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
}
#aboutus pre,p{
   position: relative;
   top: 10vh;
   font-size: larger; 
} 

