body{
    margin: 0;
    padding: 0;
}
.head #logo
{
    float: left;
    width: 55px;
    height: 55px;
    position: relative;
    left: 3%;
    mix-blend-mode: multiply;
    
}

.cc{
    background-image: url(../media/c.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 140vh;
    position: absolute;
    left: 47%;
    top: 10vh;
    color:darkorchid;
}
.cc #ing
{
    position: absolute;
    top: 6vh;
    left: 8%;
}
.cc pre
{
    position: absolute;
    top: 53vh;
    right: 54.3%;
    font-size: 14.8px;
}
#item{
    position: absolute;
    top: 30vh;
  
    height: 300px;
    width: 400px;
}
#sign
{
    height: 70px;
    width: 70px;
    position: relative;
    top: 132vh;
    left: 80%;
    mix-blend-mode: multiply;
}